<!DOCTYPE html>
<html lang="{{card.locale}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="PetaBencana.id Report">
    <meta name="author" content="PetaBencana.id">

    <title>{{{card.title}}}</title>

    <!-- Favicon -->
    <!--<link rel="shortcut icon" href="/img/card_icon.png">-->

    <!--Card Stylesheet-->
    <link href="/css/card.min.css" rel="stylesheet">

  </head>
  <body>
    <div id="card">
      <h1>{{{card.content.header}}}</h1>
      <p>{{{card.content.sub_header}}}</p>
    </div>
  </body>
</html>
